# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
bun.lockb

# Development environment
.env.local
.env.development
.env.test
.env.production

# Coverage directory
coverage

# Cache directories
.cache
.parcel-cache
.npm
.eslintcache

# Build outputs
build
out
dist

# OS specific
Thumbs.db
desktop.ini

